.page {
  max-width: 1280px;
  max-width: 100%;
  box-sizing:border-box;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color:  #FFFFFF;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}