.photo-grid {
  margin: 0;
  padding: 92px 48px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: center;
  gap: 16px;
}

@media all and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media all and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid {
    padding: 64px 16px;
    gap: 12px;
  }
}