.place__paragraphs {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  grid-area: paragraphs;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media all and (max-width: 1023px) {
  .place__paragraphs {
    gap: 25px;
  }  
}

@media all and (max-width: 767px) {
  .place__paragraphs {
    padding: 0 16px;
  }  
}

