.cover {
  margin: 0;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
  padding: 92px 48px;
  max-height: 924px;
}

@media all and (max-width: 1279px) {
  .cover {
    padding: 92px 0;
    max-height: 824px;
  }
}

@media all and (max-width: 1023px) {
  .cover {
    padding: 90px 0 88px 0;
    max-height: 658px;
  }
}

@media all and (max-width: 767px) {
  .cover {
    padding: 66px 0 64px 0;
    max-height: 330px;
  }
}