.cover__overlay {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(rgba(42, 44, 47, .3), rgba(42, 44, 47, .3));
  box-sizing: border-box;
  position: relative;
}

.cover__overlay::before {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100vh;
  max-width: 1184px;
  max-height: 740px;
}

@media all and (max-width: 1279px) {
  .cover__overlay {
    max-height: 640px;
  }

  .cover__overlay::before {
    max-height: 640px;
  }
}

@media all and (max-width: 1023px) {
  .cover__overlay {
    max-height: 480px;
  }

  .cover__overlay::before {
    max-height: 480px;
  }
}

@media all and (max-width: 767px) {
  .cover__overlay {
    gap: 16px;
    max-height: 200px;
  }

  .cover__overlay::before {
    max-height: 200px;
  }
}

.cover__overlay:hover {
  background-image: linear-gradient(rgba(42, 44, 47, .8), rgba(42, 44, 47, .8));
}